.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 96px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  background: none;
}
