@use "sass:map";
@import "../../../core";
.my-diary {
  height: 231px;
  width: 231px;
  padding: 10px;
  color: map-get($map: $dark, $key: 500);
  border: 2.5px solid map-get($map: $dark, $key: 300);

  .my-diary__time {
    height: 48px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .my-diary__body {
    width: 100%;
    height: calc(205px - 58px);
    .my-diary__body__content {
      p {
        margin: 0;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        overflow-wrap: break-word;
      }

      .my-diary__body__title {
        -webkit-line-clamp: 2;
      }
      .my-diary__body__description {
        -webkit-line-clamp: 4;
      }
    }
  }
}
