@use "sass:map";
@import './core';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  @extend .u400;
  color: map-get($dark, 400);
}

.container {
  max-width: 960px;
}

a {
  text-transform: none;
  
}