@use "sass:map";
@import "../../core";

.top-page-item {
  max-width: 234px;
  height: 234px;
  .top-page-item__content {
    position: relative;
    max-width: inherit;
    height: inherit;
    img {
      height: 234px;
      width: 234px;
      object-fit: cover;
    }
    .top-page-item__content__date {
      background-color: map-get($map: $primary, $key: 300);
      color: $light;
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 144px;
      max-height: 24px;
      font-weight: 400;
      font-size: 15px;
      span {
        padding: 8px 3px;
      }
    }
  }
}
